<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="cssinde">
  <!-- FAVICONS ICON -->

  <link rel="shortcut icon" type="image/png" th:href="@{/../static/images/logo%20projet.png.png}">
  <link th:href="@{/../static/vendor/jquery-nice-select/css/nice-select.css}" rel="stylesheet">
  <link th:href="@{/../static/vendor/owl-carousel/owl.carousel.css}" rel="stylesheet">
  <link rel="stylesheet" href="../static/vendor/nouislider/nouislider.min.css">
  <link rel="stylesheet" href="../static/css/ddddd.css">

  <!-- Style css -->
  <link th:href="@{/../static/css/style.css}" rel="stylesheet">

  <!-- <link rel="shortcut icon" type="image/png" href="images/logo projet.png.png">
  <link href="vendor/jquery-nice-select/css/nice-select.css" rel="stylesheet">
  <link href="vendor/owl-carousel/owl.carousel.css" rel="stylesheet">
  <link rel="stylesheet" href="vendor/nouislider/nouislider.min.css">
  <link rel="stylesheet" href="css/ddddd.css">-->

  <!-- Style css -->
  <!-- <link href="css/style.css" rel="stylesheet">-->

 </th:block>
 </html>